.switch-header{
    font-size: 14px;
    text-align: center;
}

/* ------------- table styles ----------------*/

#table-container {
    max-height: 330px;
    border-bottom: 1px solid #e8e8e8;

    > table {

        > tbody{
            display: inline-block;
            height: 250px;
            overflow: auto;
        };

    };
}
