#job-information-container {
  width: 100%;
  margin-left: 1.5em;
  font-size: 1.1em;
}

.log-line {
  display: flex;
  color: white;
  margin: 0 0 0 2em;
  padding: 0.35em;
  font-size: 0.8rem;
}

.flexible-div-basic-info-cont {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: max-content;
}

.flexible-row {
  display: flex; 
  width: max-content;
  justify-content: space-between
}

#top-job-log-div {
  padding: 0.5em;
  background-color: #fafafa;
  border: 1px solid #e5e5e5
}

.green-letter {
  color: #00d600;
  font-weight: 700;
}

.red-letter {
  color: #ff6161;
  font-weight: 700;
}

.line-span {
  margin-left: 0.7em;
  white-space: break-spaces;
}

#basic-information-container {
  border-bottom: 1px solid rgb(236, 236, 236);
}

#number-and-time-ago-cont {
  display: flex;
  align-items: center;
  padding: 0.5em 0em
}

.number-span-container {
  display: 'flex';
  justify-content: 'right'; 
  width: '1em';
  margin-right: '0.5em';
}