.data-card {
  border: 1px solid var(--almostWhite);
  width: 32%;
  margin: 0% 0% 1% 0.5%;
  border-radius: 0.5vw;

  .title {
    border-radius : inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    text-align: center;
    padding: 5px;
    border: 1px solid var(--almostWhite);
    background-color: var(--dark);
    color: var(--white);
  }
    
  div:not(.title) {
    padding: 3% 0% 0% 5%;
  }
  
  div {
    p {
      margin-top: 4px;
      margin-bottom: 4px;
    }
  }
}