.project-card {
  &-container {
    width: 250px;
    border: 1px solid transparent;
    .card-title {
      font-size: 1.2rem;
      margin: 0;
      padding: 0;
      margin-bottom: 1rem;
      overflow: hidden;
    }

    &-autor {
      align-items: center;
      p {
        margin: 0;
        color: var(--secondary);
      }
    }

    .card-content {
      margin-top: 0.8rem;

      &-description {
        color: var(--dark);
        margin-top: 1rem;
        margin-bottom: 2rem;
      }
    }

    span {
      font-size: 0.9rem;
      margin-right: 0.1rem;
    }
  }

  &-container:hover {
    border: 1px solid var(--info);
    cursor: pointer;
  }

  &-avatar {
    width: 30px;
    border-radius: 50%;
  }
}

.project-card-types {
  margin-bottom: 0.5rem;

  &-icon {
    margin-right: 0.5rem;
    color: var(--dark);
  }
}
